/* Inter font ko Google Fonts se import karein */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/* Yahan par global styles rakhein jo poori application mein istemal honge. */
/* Abhi ke liye, humne isse khali chhod diya hai taake App.css ke styles sahi se kaam karein. */
